<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.dao.CartDao">

    <select id="selectCarts" parameterType="cart" resultType="cart">
        select * from cart where userId=#{userId}
    </select>

    <select id="selectCommodity" parameterType="Integer" resultType="commodity">
        select * from commodity where id=#{commodityId}
    </select>

    <update id="updateAmount" parameterType="cart">
        update cart set amount=#{amount},number=#{number} where id=#{id}
    </update>

    <select id="selectCommodityId" parameterType="cart" resultType="Integer">
        select id from commodity where name=#{name}
    </select>

    <select id="selectCartByCondition" parameterType="cart" resultType="cart">
        select * from cart where userId=#{userId} and commodityId=#{commodityId}
    </select>

    <update id="updateCart" parameterType="cart">
        update cart set amount=#{amount},number=#{number} where id=#{id}
    </update>

    <insert id="insertCart" parameterType="cart">
        insert into cart(commodityId,amount,userId,number) values (#{commodityId},#{amount},#{userId},#{number})
    </insert>

    <delete id="deleteOne" parameterType="Integer">
        delete from cart where id=#{id}
    </delete>

    <select id="selectId" parameterType="Integer" resultType="Integer">
        select commodityId from cart where id=#{id}
    </select>
</mapper>