<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.dao.ManagerDao">

    <select id="findByUname" resultType="manager" parameterType="manager">
        select * from manager where username=#{username}
    </select>

    <select id="findByUnameAndPwd" resultType="manager" parameterType="manager">
        select * from manager where username=#{username} and password=#{password}
    </select>

    <insert id="insertOne" parameterType="manager">
        insert into manager(username,password,phone,avatar) values (#{username},#{password},#{phone},#{avatar})
    </insert>

    <select id="search" resultType="manager" parameterType="manager">
        select * from manager
        <trim prefix="where" prefixOverrides="and | or">
            <if test="username != null and username != ''">
                and username like "%"#{username}"%"
            </if>
            <if test="phone != null and phone != ''">
                and phone=#{phone}
            </if>
        </trim>
    </select>

    <select id="selectOne" parameterType="Integer" resultType="manager">
        select * from manager where id=#{id}
    </select>

    <update id="updateOne" parameterType="manager">
        update manager set username=#{username}, password=#{password},phone=#{phone},avatar=#{avatar} where id=#{id}
    </update>

    <delete id="deleteOne" parameterType="Integer">
        delete from manager where id=#{id}
    </delete>

</mapper>